<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>810097521200-f4fsersf82cespaguvb15jpmklr9jmvv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.810097521200-f4fsersf82cespaguvb15jpmklr9jmvv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>810097521200-fr4mqugbt3o9vl1oi0c630pb9a1p91po.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAr-0GW7YEYps9z7-xsT6i0TQPj9mh8zM4</string>
	<key>GCM_SENDER_ID</key>
	<string>810097521200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finaldemoaist.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>aistries-921f1</string>
	<key>STORAGE_BUCKET</key>
	<string>aistries-921f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810097521200:ios:014f0c1f30a97b24a6f3f5</string>
	<key>DATABASE_URL</key>
	<string>https://aistries-921f1-default-rtdb.firebaseio.com</string>
</dict>
</plist>